<a href="https://colab.research.google.com/github/VishnuM24/LetsUpgrade-Python/blob/master/Assignment_Day_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# - DAY 6 -

## **ASSIGNMENT 1**


---


Create a bank account class that has two attributes
* OwnerName
* Balance

and two methods
* deposit
* withDraw

As an added requirement, withdrawals may not exceed the available balance.

Instantiate your class, make several deposits and withdrawals, and test to make sure the account can't be overdrawn.[link text](https://)

In [16]:
class bankAccount():
  def __init__( self, ownerName, balance ):
    self.ownerName = ownerName
    self.balance = balance

  def getBalance(self):
    print(f"Your balance is Rs {self.balance}/- ")

  def deposit(self):
    amount = int(input("Please enter the amount to be deposited: "))
    self.balance += amount
    print(f"Your updated balance is Rs {self.balance}/- ")

  def withDraw(self):
    amount = int(input("Please enter the amount to withdraw: "))
    if ( amount > self.balance ):
      print("[ERROR] : Transaction Cancelled. LOW BALANCE !")
      return
    self.balance -= amount
    print(f"Your updated balance is Rs {self.balance}/- ")

In [19]:
vishnu = bankAccount('Vishnu', 12500)

In [20]:
vishnu.getBalance()

Your balance is Rs 12500/-

In [21]:
vishnu.deposit()

Please enter the amount to be deposited: 2500
Your updated balance is Rs 15000/-

In [22]:
vishnu.withDraw()

Please enter the amount to withdraw: 5000
Your updated balance is Rs 10000/-

In [23]:
vishnu.getBalance()
vishnu.deposit()
vishnu.deposit()
vishnu.withDraw()
vishnu.withDraw()

vishnu.deposit()
vishnu.withDraw()
vishnu.getBalance()
vishnu.withDraw()

Your balance is Rs 10000/-
Please enter the amount to be deposited: 10000
Your updated balance is Rs 20000/-
Please enter the amount to be deposited: 2500
Your updated balance is Rs 22500/-
Please enter the amount to withdraw: 12000
Your updated balance is Rs 10500/-
Please enter the amount to withdraw: 2000
Your updated balance is Rs 8500/-
Please enter the amount to be deposited: 1500
Your updated balance is Rs 10000/-
Please enter the amount to withdraw: 12000
[ERROR] : Transaction Cancelled. LOW BALANCE !
Your balance is Rs 10000/-
Please enter the amount to withdraw: 8000
Your updated balance is Rs 2000/-

## **ASSIGNMENT 2**


---


Create a cone class that has two attributes:
* r = radius
* H = height

and two methods
* Volume = Pi * r^2 * (H/3)
* Surface area :
>* base: Pi * r^2
>* side: Pi * r * sqrt( r^2 + H^2 )

Make only one class with functions, as in where required import Math.

In [29]:
import math
class cone():
  def __init__(self, radius, height):
    self.r = radius
    self.h = height

  def volume(self):
    return ( math.pi* (self.r**2)* (self.h/3) )

  def baseSA(self):
    return ( math.pi* (self.r**2) )

  def sideSA(self):
    return ( math.pi* self.r* (math.sqrt( (self.r**2) + (self.h**2) ) ) )

In [33]:
cone1 = cone( 4, 7 )
print('Volume is ', cone1.volume() )
print('Base Surface Area is ', cone1.baseSA() )
print('Side Surface Area is ', cone1.sideSA() )

Volume is  117.28612573401895
Base Surface Area is  50.26548245743669
Side Surface Area is  101.31331885360844

In [34]:
cone2 = cone( 2, 4 )
print('Volume is ', cone2.volume() )
print('Base Surface Area is ', cone2.baseSA() )
print('Side Surface Area is ', cone2.sideSA() )

Volume is  16.755160819145562
Base Surface Area is  12.566370614359172
Side Surface Area is  28.099258924162907

In [26]:
import math
print(math.pi)

3.141592653589793