# **- DAY 1 -**

## ***QUESTION 1 :***
Given the following jumbled word, OBANWRI guess the correct English word.

A. RANIBOW

B. RAINBOW

C. BOWRANI

D. ROBWANI

---
## ***QUESTION 2 :***

Write a program which prints “**LETS UPGRADE**”. (Please note that you have to
print in ALL CAPS as given)

In [1]:
print("LETS UPGRADE")

LETS UPGRADE

---
## ***QUESTION 3 :***

Write a program that takes cost price and selling price as input and displays whether the transaction is a Profit or a Loss or Neither.

**INPUT FORMAT**
>The first line contains the cost price.
>
>The second line contains the selling price.

**OUTPUT FORMAT**

Print "Profit" if the transaction is a profit or "Loss" if it is a loss. If it is neither
profit nor loss, print "Neither".

In [3]:
cost = int( input() )
sell = int ( input() )

if ( sell - cost >0 ):
  print( "Profit" )
elif ( sell-cost <0 ):
  print( "Loss" )
else:
  print( "Neither" )

# TEST CASE 1

20
30
Profit

In [4]:
# TEST CASE 2

20
10
Loss

In [5]:
# TEST CASE 3

20
20
Neither

In [6]:
# TEST CASE 4

19
19
Neither

In [7]:
# TEST CASE 5

23
7
Loss

In [8]:
# TEST CASE 6

19
95
Profit

---
## ***QUESTION 4 :***

Write a program that takes an amount in Euros as input. You need to find its equivalent in
Rupees and display it. Assume 1 Euro equals Rs. 80.

In [9]:
euro = int( input( ) )

print( euro*80 )

# TEST CASE 1

20
1600

In [10]:
# TEST CASE 2

50
4000

In [11]:
# TEST CASE 3

72
5760

In [12]:
# TEST CASE 4

7
560

In [13]:
# TEST CASE 5

35
2800

In [14]:
# TEST CASE 6

23
1840

In [15]:
# TEST CASE 7

95
7600

In [16]:
# TEST CASE 8

18
1440