# **- DAY 2 - Data Science Essentials 101 [B1]**

## ***QUESTION 1***
---

Create an empty list. Accept 10 numbers from the user and append to it the list if it is an even number.

## ***SOLUTION 1***
---

In [ ]:
list1 = []

for each in range(10):
  num = int( input(  ) )
  if num%2 ==0:
    list1.append( num )
  
print( list1 )

12
24
7
5
149
2
1100
14149
777
101
[12, 24, 2, 1100]

## ***QUESTION 2***
---

Create a notebook on LIST COMPREHENSION. This exercise is to put you in a Self learning mode.

## ***SOLUTION 2***
---

*The **List comprehension** is an elegant way to define and create a list in python in one line only.*

*The syntax of list comprehension is easier to grasp.*

*A list comprehension generally consist of these parts :*
>- Output expression,
>- Input sequence,
>- A variable representing a member of the input sequence, and
>- An optional predicate part.

In [ ]:
# EXAMPLE 1

list1 = [ ( i, i*i ) for i in range(6) ]
print( list1 )

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [ ]:
# EXAMPLE 2

list1 = [ num for num in range(10) if num%2 ==0 ]
  
print( list1 )

[0, 2, 4, 6, 8]

## ***QUESTION 3***
---

Given a number **n**, you have to write a program that generates a dictionary **d** which
contains ( i , i * i ) , where **i** is from 1 to n (both included).
Then you have to just print this dictionary d.

*Example 1:*

Input: 
>4

Output:
>{ 1 : 1 , 2 : 4 , 3 : 9 , 4 : 16 }

*Example 2:*

Input: 
> 8

Output:
>{ 1: 1 , 2: 4 , 3: 9 , 4: 16 , 5: 25 , 6: 36 , 7: 49 , 8: 64 }

Input Format:
Take the number n in a single line.

Output Format:
Print the dictionary d in a single line.

## ***SOLUTION 3***
---

In [ ]:
# Sample as in Example 1
n = int( input() ) 

d = {}

for i in range(1, n+1):
  d.update( { i : i*i } )
  
print( d )

4
{1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
# Sample as in Example 2
n = int( input() ) 

d = {}

for i in range(1, n+1):
  d.update( { i : i*i } )
  
print( d )

8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

## ***QUESTION 4***
---

There is a **robot** which wants to go the charging point to charge itself.

The robot moves in a **2-D plane** from the original point (0,0). The robot can move toward **UP**, **DOWN**, **LEFT** and **RIGHT** with given steps.

The trace of robot movement is shown as the following:
>- UP 5
>- DOWN 3
>- LEFT 3
>- RIGHT 2

Then, the output of the program should be:
>**2**

The numbers after the direction are steps.

Write a program to compute the distance between the current position after a sequence of movement and original point. 

If the distance is a float, then
just print the nearest integer (use **round()** function for that and then convert it into an integer).

Input Format:
>The first line of the input contains a number n which implies the number of directions to be given.
The next n lines contain the direction and the step separated by a space.

Output Format:
>Print the distance from the original position to the current position.

*Example:*

Input:
>4
>
>UP 5
>
>DOWN 3
>
>LEFT 3
>
>RIGHT 2

Output:
>2

## ***SOLUTION 4***
---

In [ ]:
n = int( input() )

X = 0
Y = 0

for each in range(n):
  direction, steps = input().split(' ')
  steps = int( steps )
  if direction.upper() == 'UP':
    Y += steps
  elif direction.upper() == 'DOWN':
    Y -= steps
  elif direction.upper() == 'LEFT':
    X -= steps
  elif direction.upper() == 'RIGHT':
    X += steps

distance = round( ( (X**2) + (Y**2) ) ** 0.5 )  
print( distance )

4
UP 5
DOWN 3
LEFT 3
RIGHT 2
2

## ***ROUGH WORK - 4***

In [ ]:
n = int( input() )

for each in range(n):
  direction, steps = input().split(' ')
  steps = int(steps)
  print(direction,'<-->',steps,'<-->',type(steps) )

2
up 24
up <--> 24 <--> <class 'int'>
down 12
down <--> 12 <--> <class 'int'>